<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<filter>
		<filter-name>OpenIDClientRequestFilter</filter-name>
		<filter-class>
			com.idega.openid.client.filter.OpenIDClientRequestFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>OpenIDClientRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>OpenIDClientResponseFilter</filter-name>
		<filter-class>
			com.idega.openid.client.filter.OpenIDClientResponseFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>OpenIDClientResponseFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>OpenIDServerRequestFilter</filter-name>
		<filter-class>
			com.idega.openid.server.filter.OpenIDServerRequestFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>OpenIDServerRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>OpenIDServerResponseFilter</filter-name>
		<filter-class>
			com.idega.openid.server.filter.OpenIDServerResponseFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>OpenIDServerResponseFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>OpenIDServerServlet</servlet-name>
		<servlet-class>
			com.idega.openid.server.servlet.OpenIDServerServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OpenIDServerServlet</servlet-name>
		<url-pattern>/openid-server/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OpenIDServerServlet</servlet-name>
		<url-pattern>/openid-server/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OpenIDServerServlet</servlet-name>
		<url-pattern>/openid-server</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OpenIDXRDSServlet</servlet-name>
		<servlet-class>
			com.idega.openid.server.servlet.OpenIDXRDSServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OpenIDXRDSServlet</servlet-name>
		<url-pattern>/xrds</url-pattern>
	</servlet-mapping>

</web-app>